# Config file for automatic testing at travis-ci.org
sudo: false

language: python

python:
  - "3.6"
  - "3.5"
  - "3.4"
  - "2.7"
  - "pypy"

env:
  # Lowest supported version
  - MARSHMALLOW_VERSION="==2.3.0"
  # Latest release
  - MARSHMALLOW_VERSION=""

install:
  - travis_retry pip install -U .
  - travis_retry pip install -U -r dev-requirements.txt
  - travis_retry pip install -U marshmallow"$MARSHMALLOW_VERSION"

before_script:
    - flake8 .

script: py.test
