# Build tasks
invoke

# marshmallow
# inflection requires development version
git+https://github.com/marshmallow-code/marshmallow.git@dev

# soft deps
Flask

# Testing
# Need development version of pytest for py35 compat
# https://github.com/pytest-dev/pytest/issues/744
git+https://github.com/pytest-dev/pytest.git
tox>=1.5.0
fake-factory

# Packaging
wheel

# Syntax checking
flake8==2.4.1
